@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Poppins";
}

a.active {

    border-bottom: 2px solid rgb(206, 190, 190);
    
}

.post.active{
    border-bottom: none;
}
